
.itemDetailsForm h3{
  text-align: center;
  margin: 2%;
}
body{
  overflow-x: hidden;
}
.itemDetailsForm{
  width: 33%;
  margin-left: 2%;
  margin-top: 4%;
  color: rgb(119, 2, 168);
  display: inline-block;
}
.itemDetailsFormFill img{
  display: inline-block;
  vertical-align: baseline;
  margin-left: 18%;
}
.itemDetailsForm input:focus{
  color: rgb(119, 2, 168);
}
.itemDetailsFormFill{
  background: url("./img.jfif");
  background-size: cover;
  height: 100vh;
}
.itemDetailsFormFill .nav a:hover{
  font-size: 25px;
  color:#fff;
}
.itemDetailsForm .bg-white{
  padding: 3% 4%;
}
.itemDetailsForm .componentForm .selectItems,.itemDetailsForm input{
  display: inline-block;
  width: 85%;
  margin:2% 1.5%;
  color: rgb(119, 2, 168);
}
.itemDetailsForm .btn{
 background-color: rgb(119, 2, 168);
 border-color: rgb(119, 2, 168);
 margin: 2%;
}
.itemDetailsForm input[type=text],.itemDetailsForm input[type=number]{
  border-radius: 0%;
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: rgb(119, 2, 168) !important;
}
.itemDetailsForm .componentForm .selectItems *{
  border-color: rgb(119, 2, 168);
}
.itemDetailsForm .componentForm .selectItems span{
  background-color: rgb(119, 2, 168);
}
.itemDetailsForm .componentForm .selectItems svg{
  color:rgb(119, 2, 168);
}
.itemDetailsForm i{
  width: 10%;
  text-align: center;
  display: inline-block;
}
.nav-link-active {
  font-size: 35px;
}
@media(max-width: 1100px) {
  body{
    overflow-x: hidden;
  }
  .itemDetailsForm{
    margin-left: 3%;
    margin-top: 3%;
    vertical-align: top;
  }
  .itemDetailsForm form{
    font-size: 90%;
  }
  .itemDetailsFormFill img{
    margin-left: 12%;
    margin-top: 0%;
  }
}

@media (max-width: 800px) {
  .itemDetailsFormFill{
    background: linear-gradient(rgb(100,28,127),rgb(73,17,78));
  }
  .itemDetailsForm{
    width: 90vw;
    margin-left: 0;
    padding: 0;
    background-color: #fff !important;
    margin:0% 5vw;
    margin-top:15%;
    border-radius: 16px;
  }
  .itemDetailsFormFill img{
    display: none;
  }
  .itemDetailsFormFill{
    height: 100vh;
    padding-bottom: 10%;
  }
  body{
    overflow-y: scroll;
  }
}
@media (max-width: 360px){
  .itemDetailsFormFill{
    height: auto;
    padding-bottom: 10%;
  }
}
/* rgb(100,28,127)
rgb(73,17,78) */
