.container-fluid {
  justify-content: center;
  margin-left: 210px;
  margin-top: 130px;
  width: 70vw;
}
body {
  background-color: #bbe1fa;
  background-size: 100% 100%;
  color: #07689f;
}
.card-text {
  width: 200px;
  height: 100px;
}
.recomendation {
  background-image: linear-gradient(120deg, #c23910 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.recomendation:hover {
  background-size: 100% 88%;
}

@media (max-width: 480px) {
  .container-fluid {
    margin-left: 25px;
  }
  .recomendation {
    background-image: linear-gradient(120deg, #c23910 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
  .recomendation:hover {
    background-size: 100% 88%;
  }
}
