.background {
  height: 700px;
  background-image: url("https://cdn.pixabay.com/photo/2015/10/05/17/16/kitchen-972934_1280.jpg ");
}
.nav-link {
  font-size: 25px;
  padding-bottom: 45px;

  color: rgb(90, 89, 89);
}
.signup .nav a:hover{
  color: #fff;
}
.signup input:focus{
  color: rgb(119, 2, 168);
}
.image1 .nav a:hover{
  color: white;
}
.nav-link{
  padding: 15px;
}
p {
  color: rgb(233, 72, 72);
}
.signup .row{
  width: 100vw; 
}
.signup{
  height: 100vh;
  background: url(./img.jfif);
  background-size: cover;
}
.signup .col-lg-3{
  margin-left: 7%;
  margin-top: 5%;
  padding:1% 2%;
  font-size: 90%;
}
.signup img{
  /* margin:0% auto; */
  width: 36vw;
  margin-left: 38%;
}
.signup label{
  width: 10%;
  display: inline-block;
  color: rgb(119, 2, 168);
}
.form-group{
  color: rgb(119, 2, 168);
}
.form-group h3{
  text-align: center;
}
.signup input{
  display: inline-block;
  margin: 3% 0;
  width: 90%;
  border-width:0px;
  border-bottom-width: 1px;
  border-radius: 0;
  border-bottom-color:  rgb(119, 2, 168);
  color: rgb(119, 2, 168);
}
.signup .btn{
  margin : 1% 33%;
  background-color: rgb(119, 2, 168);
  border-width: 0;
}
.signup .col-lg-8{
  padding:2% 0 0;
}
.signup .btn:hover{
  background-color:rgb(175, 16, 243) ;
}
.mobSignup{
  display: none;
}
@media (max-width:1200px){
  .signup .col-lg-3{
    font-size: 80%;
  }
  .signup .col-lg-3 .btn{
    width: 60%;
    margin:5% 20% ;
  }
  .signup img{
    /* margin:0% auto; */
    width: 40vw;
    margin-left: 38%;
  }
  .signup .col-lg-3{
    margin-top: 2%;
  }
}
@media (max-width:880px) {
  .nav {
    width: 100vw;
  }
  .signup .col-lg-8{
    display: none;
  }
  .mobSignup{
    display: block;
  }
  .signup{
    height: auto !important;
    background-image: url('./WhatsApp Image 2020-09-18 at 17.35.32.jpeg');
  }
  .signup .form-group{
    color:#fff;
  }
  .signup .card{
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .bg-white{
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .signup .row{
    width: 100vw;;
  }
  .signup input{
    color:#fff;
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom-color: #fff;
  }
  .signup .input::placeholder{
    color:#fff;
  }
  .signup label{
    color: #fff;
  }
  .signup .form-control:focus{
    color:#fff;
  }
  .signup .form-control::placeholder{
    color:#bbbbbb;
  }
  .signup .text-muted{
    color:#bbbbbb !important;
  }
}
@media (max-width:800px){
  .signup img{
    width:80vw;
    margin:6vh 10vw 10vh;
  }
}

@media (max-width:430px){
  .signup img{
    width:80vw;
    margin:1vh 10vw 28vh;
  }
}
@media (max-width:380px){
  .signup img{
    width: 80vw;
    margin:5vh 10vw 25vh;
  }
}
@media (max-width:325px){
  .signup img{
    width: 80vw;
    margin:5vh 10vw 27vh;
  }
  .signup .row{
    margin-top: 20vh;
  }
  .signup .btn{
    width:40%;
    margin : 1% 30%;
  }
}
